*{
    background-color: rgb(9, 9, 9);
    
}

.Heading{
    text-align:center ;
    color: white;

}
h5{
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    color: white ;
    font-family: 'Times New Roman', Times, serif;

}

.aboutme{
    display: flex;
    align-items: center;
    height: 10vh;
    padding: 40px 9% 0;
    color: white;
    
}
    
.home-img{
    height: 150px;
  
}
img{
    top: 8px;
}
.new{
    color: white;
}

.skills{
    color: white;
  
   
}
.projects{
    color: white;
}

footer{
    color: white;
}
a{
    color: blue;
}